@model ChartModel
@{
    ViewData["Title"] = "Chart page";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div>
</div>


<form method="post" asp-controller="Chart" asp-action="Show">
    <div class="row">
        <div class="col-6">
            <input type="datetime-local" name="startdate" id="startdate" class="form-control form-control-sm" value="@Model.StartDate">
        </div>
        <div class="col-6">
            <input type="datetime-local" name="enddate" id="enddate" class="form-control form-control-sm" value="@Model.EndDate">
        </div>
        <div class="col-6">
            <input type="submit" value="Показать" name="show" id="show" class="form-control form-control-sm">
        </div>
        <div class="col-6">
            <select name="titleContr">
                @foreach (var item in @Model.Title)
                {
                    <option value="@item" name="title">@item</option>
                }
            </select>
        </div>
    </div>
</form>

<div>
    <canvas id="myChart"></canvas>
</div>

<script>
    // Получите массив данных из Razor страницы
    var data = @Html.Raw(Json.Serialize(Model.Data));
    var title = @Html.Raw(Json.Serialize(Model.TitleContr));

    // Используйте массив данных в JavaScript
    // Например, создайте график с использованием Chart.js
    var ctx = document.getElementById('myChart');

    var chartOptions = {
        scales: {
            y: {
                //min: -10, // Минимальное значение оси Y
                //max: 30 // Максимальное значение оси Y
                //beginAtZero: true
            }

        }
    };

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {

            datasets: [
                {
                    label: title,
                    data: data,

                    backgroundColor: 'rgba(0, 123, 255, 0.5)',
                    borderColor: 'rgba(0, 123, 255, 1)',
                    borderWidth: 1,
                    pointRadius: 1,
                    tension: 0.2 // Здесь указывается значение tension
                }
            ]
        },
        options: chartOptions
    });
</script>